body{
    background: rgb(58,73,180);
background: linear-gradient(90deg, rgba(58,73,180,0.44870448179271705) 0%, rgba(29,120,253,0.510329131652661) 50%, rgba(69,251,252,0.4767156862745098) 100%);
}
.display-3,.display-2{
    color: rgb(254, 254, 254);
    font-weight: 800;
}
.plan{
    position: relative;
    top: 29px;font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.where{
    color: rgb(254, 254, 254);
    font-weight: 700;
}