
.gif {
  width: 70%;
  height: 250px;
  position: relative;
  top: -20px;
}

/* .zoom {
    transform: scale(1);
  } */
.classB {
  background: rgb(0, 39, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 39, 255, 0.7262255243894433) 0%,
    rgba(0, 134, 255, 0.692612079011292) 100%
  );
  width: 100%;
  height: 250px;
}

.classIn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -350px;
  width: 100%;
  height: 100%;
  font-size: 100px;
  
}
.t {
  font-family: "Quicksand", sans-serif;
  /* font-family: 'Shadows Into Light', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Dosis', sans-serif; */
  font-weight: 600;
}
.four {
  font-family: "Nothing You Could Do", cursive;
  font-weight: lighter;
  color: aliceblue;
}

/* .lo{
    width: 450px;
  } */
/* .lo{
    position: relative;
    top: -1px;
    left: 20px;
    width: 45px;
  } */
